<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_code }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include notifications.html %}

<header class="site-header">
    <div class="wrapper">

        <a href="/" style="width: 185px; height: 38px; display: inline-block; margin-right: 7px;">
            <img src="/assets/images/scotgovlogo.svg" alt="Scottish Government logo">
        </a>

    </div>
</header>







{% if page.thispage != 'home' and page.thispage != 404 %}
    <div class="wrapper">
        {% include breadcrumbs.html %}
    </div>
{% endif %}
