$color__orange: #F0A75A;
$color__magenta: #A51765;
$color__magenta--tint: #f0dfe8;

$gradient-tradingnation: linear-gradient(to right, $color__orange, $color__magenta);

$color__link--primary: $color__magenta;
