.card {
    &--hover:after {
        background-image: $gradient-tradingnation;
    }

    a:active,
    a:focus {
        color: $color__link--primary;
    }
}

.card__content.category-item__link {
    border-left-width: 0;
}
