.card {
    &--hover:after {
        background-image: $gradient-tradingnation;
    }

    a {
        color: $color__black;

        &:hover {
            color: $color__link--primary;
        }
    }
}
