/*------------------------------------*\
    #INSET TEXT
\*------------------------------------*/

.#{$pl-prefix}inset-text {
    border-left: 10px solid $color__grey--medium;
    margin: 35px 0;
    padding: 28px 15px;
}

.#{$pl-prefix}inset-text__text > :last-child {
    margin-bottom: 0;
}

@include media-query(medium) {
    .#{$pl-prefix}inset-text {
        padding-right: 70px;
    }
}
